body {
  background-color: #000;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.App {
  background-color: aliceblue;
  box-sizing: border-box;
  margin: 0 auto;
  width: 680px;
  max-width: 100%;
  min-height: 100vh;
  padding: 10px;
}


section {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.5em;
}

input {
  max-width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 0;
}

button {
  max-width: 100px;
  background-color: #000;
  color: aliceblue;
  border: 0;
  border-radius: 0;
  padding: 10px;
}

button:hover {
  background-color: #a0a5a9;
  color: black;
  transition: 0.5s;
  cursor: pointer
}